@import "../components/bootstrap/docs/assets/css/bootstrap.css";

@import "../components/bootstrap/docs/assets/css/bootstrap-responsive.css";
.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}
.clearfix:after {
  clear: both;
}
.hide-text {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
.input-block-level {
  display: block;
  width: 100%;
  min-height: 30px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  background: rgba(0, 0, 0, 0.15);
  padding: 60px 0;
}
.navbar-fixed-top .navbar-inner {
  padding: 0 20px;
}
#loading {
  padding: 20px 0;
  text-align: center;
  font-size: 16px;
}
#loading strong {
  text-transform: uppercase;
}
#documentation {
  background: #fff;
  max-width: 1100px;
  margin: 0 auto;
  border: solid 1px rgba(0, 0, 0, 0.45);
  border-bottom: solid 2px rgba(0, 0, 0, 0.45);
  padding-top: 20px;
}
ul,
ol,
p {
  margin-bottom: 18px;
}
a {
  color: #0088c1;
}
a:hover {
  color: #00405b;
}
.container-fluid {
  margin: 0 auto;
  max-width: 800px;
}
.container-fluid.large-container {
  max-width: 1000px;
}
#introduction .lead {
  font-size: 21px;
  line-height: 30px;
}
#introduction p {
  font-size: 16px;
  line-height: 25px;
}
h1 {
  text-transform: uppercase;
}
h1 em {
  color: #0088c1;
  font-style: normal;
}
h3 {
  border-bottom: solid 1px rgba(0, 0, 0, 0.2);
  padding-bottom: 3px;
  text-transform: uppercase;
  font-size: 22px;
}
h3 .double-underline {
  border-bottom: solid 1px rgba(0, 0, 0, 0.2);
  display: block;
}
h3 {
  margin-top: 0;
  font-size: 20px;
  font-weight: normal;
  line-height: 26px;
}
ol {
  margin: 0 0 0 20px;
}
.note {
  background: #fffcdf;
  padding: 5px;
  font-size: 12px;
  line-height: 18px;
}
.note i {
  margin-top: -1px;
}
.list-from-table {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.list-from-table li {
  border-bottom: solid 1px rgba(0, 0, 0, 0.15);
  margin-bottom: 20px;
  padding-bottom: 20px;
}
.list-from-table li:last-child {
  margin-bottom: 0;
}
.list-from-table dl {
  margin: 0;
}
.list-from-table dt:after {
  content: ': ';
}
.list-from-table dd {
  margin-bottom: 10px;
}
.list-from-table dd:last-child {
  margin-bottom: 0;
}
#footer {
  border-top: solid 1px rgba(0, 0, 0, 0.2);
  padding: 5px 0 20px;
  margin: 20px auto 0;
}
@media (max-width: 1100px) {
  body {
    padding: 0;
  }
  #documentation {
    border: none;
    padding: 0 20px;
  }
}
@media print {
  body {
    padding: 0;
  }
  #documentation {
    border: none;
    padding: 0 20px;
  }
  h1 {
    font-size: 30px;
  }
  h1 em {
    display: block;
  }
  .hidden-phone {
    display: none;
  }
  .visible-phone {
    display: block !important;
  }
}
