@import "../lib/bootstrap/css/bootstrap.min.css";

@import "../lib/bootstrap/css/bootstrap-responsive.min.css";

@import "../lib/prettify/css/prettify.css";
.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}
.clearfix:after {
  clear: both;
}
.hide-text {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
.input-block-level {
  display: block;
  width: 100%;
  min-height: 30px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  background: rgba(0, 0, 0, 0.15);
  padding: 60px 0;
}
.navbar-fixed-top .navbar-inner {
  padding: 0 20px;
}
#loading {
  padding: 20px 0;
  text-align: center;
  font-size: 16px;
}
#loading strong {
  text-transform: uppercase;
}
